{% set resetUrl = absolute_url(path('reset', {'token': token})) %}

<div>
    <p>Bonjour {{username }},</p>
    <p>Vous avez demandé à réinitialiser votre mot de passe.</p>
    <p>Pour continuer, veuillez cliquer sur le lien suivant :</p>
    <p><a href="{{ resetUrl }}">{{ resetUrl }}</a></p>
    <p>Si vous n'avez pas demandé à réinitialiser votre mot de passe, vous pouvez ignorer cet e-mail.</p>
    <p>Cordialement,</p>
    <p>L'équipe de Streami</p>
</div>